<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Contact us</h1>
    <form action="/contact/" method="POST">{% csrf_token %}
        <p>Topic: <input type="text", name="topic"> </p>
        <p>Email: <input type="text", name="email"> </p>
        <p>Message: <textarea type="text" name="message" rows="15" cols="45"></textarea> </p>
    
    
        <input type="submit" value="Send">

    </form>

</body>
</html>